body{
	position: relative;
	background-color: #689F38;
}
canvas{
	display: none;
}
video{
	width:70% !important;
	border: 20px solid #8BC34A;
	height: 50% !important; 
	margin-right: 40px;
}
#output, video{
	display: inline-block;
}
.row{
	display: block;
	width: 100%;
	vertical-align: middle;
}
#output{
	vertical-align: top;
	margin-top: 20%;
	display: block;
	width: 20% !important;
	/*vertical-align: top;*/
	text-align: center;
	height: 100%
}
.borderpicture{
	border: 1px solid #000;
	display: block;
}
#output img{
	border: 5px solid #ddd;
    padding: 5px; /*Inner border size*/
    background: #fff;
	width: 100%;
/*	position:absolute;
	right: 0px;*/
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
}
.logo{
	display: block;
	padding: 30px;
	text-align: center;
	padding-top: 0px;
}
#output , video{
	display: inline-block;
}
#wrapper{
	width: 80%;
	margin: 0px auto;
	border: 20px solid #8BC34A;
	background: #FFFFFF;
	padding: 40px 20px;
}

.clearfix{
	clear: both;
	display: block;
}